<!DOCTYPE html>
<html>
<<<<<<< HEAD
 <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
   <h1>Proposal Accepted <%= @user.name %></h1>
   <p>
     Your proposal has been accepted. Please visit BizBidder.com to see more details
   </p>

   <p>Thanks for using BizBidder to do business!</p>
 </body>
=======
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Proposal Accepted <%= @user.email %></h1>
    <p>
      Your proposal has been accepted. Please visit BizBidder.com to see more details 
    </p>
     
    <p>Thanks for using BizBidder to do business!</p>
  </body>
>>>>>>> b813b5314622770aa7016987cb548ab9121b02b4
</html>