<html>
<body class="back" background="b2.jpg;" margin-top="-10px;">

 <h1 style="color:white; margin-top: -15px; padding-top: -5px; padding-bottom: -5px;">BizBidder</h1>
 <h3 style="color:white; padding-top: -10px; font-size:15px; font-style:italic; text-align:center;">Find local services with a click of a button.</h3>

 <div class="button-thing" style="background-color:#212548; /* Green */
   border: none;
   color: white;
   padding: 2px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   color: white;
   margin-left: 45%;
   border-radius: 12px;
   <button type="submit"><%= link_to 'Get Started', requests_path %></button>
 </div>


</body>

</html>