

@import "bootstrap";
@import "font-awesome";
@import "requests";
@import "proposals";
@import "service_providers";



body {
  font-family: 'Fauna One', serif;

  padding-top: 70px;
}
h1,h5 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 40px;

  width: 100%;
  background: #343A40;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-profile {
  position: absolute;
  right: 0;
  color: white;
}

.loginout-link {
  color: #fff
}

