// Place all the styles related to the Proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.response {
  margin-bottom: 60px;
  margin-top: 50px;
}

.response-rows {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 20px;
   grid-row-gap: 1.5rem;
   width: 100%;
}

.response-row {
  padding: 8px;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);;
  background: lightgray;
  box-shadow: 4px 4px 4px darkgrey;
}
legend {
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

.proposal_true {
  background-color: #71808b;
}

.proposal_false {
  background-color: grey;

}
.view-request-btn{
  margin-top: 25px;
  border: 1px solid grey;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 150px;
  background: #ffb400;
  color: #2d4059;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
  border-radius: 5px;
}

.contact-group-proposal  {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  background-color: #ea5455;
  color:white;
  padding:10px;
  box-shadow: 4px 4px 4px rgb(105, 101, 101);
}

.company-name-div-container{
  width: 33%;
}
.proposal-desc-budget-group {
  background-color: #ea5455;
}
.group-proposal-description {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  background-color: #ea5455;
  color:white;
  padding:10px;
  box-shadow: 4px 4px 4px rgb(105, 101, 101);
}

.group-proposal-price, .group-proposal-accept {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
  background-color: #ea5455;
  color:white;
  padding:10px;
  box-shadow: 4px 4px 4px rgb(105, 101, 101);
}
.proposal-name {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 70px;
  background-color: #ea5455;
  color:white;
  padding:10px;
  box-shadow: 4px 4px 4px rgb(105, 101, 101);
}

.accept {
  color: white;
  display: none;
}

.proposal-response-row{
  width: 32%;
  color: white;
   
  padding-left: 5px;
}
.request-container{
  width: 90%;
  background: grey;
  height: 190px;
  padding: 5px;
}

.accept {
  display:none;
}

.proposal-footer-btn{
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid grey;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 70px;
  background: #ffb400;
  color: #2d4059;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
  border-radius: 5px;
}
