// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .status_Open {
   color: yellow;
   background: blue;
 }
 .status_Taken {
   color: white;
   background: green;
 }

 .request-rows {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  width: 100%;
}

.request-row {
  border: 1px solid red;
  margin: 5px;
  width: 23%;
}

.request_Taken {
  background: green;
  color: white;
}

.request_Open {
  background: lightgray;
  color: black;
}