// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .request-rows {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 20px;
   grid-row-gap: 1.5rem;
   width: 100%;
}
.request-row {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
  position: relative;
}
.request-row:hover {
  background-color: #476F8B;
  color:white
}


.request_Taken {
  background: #71808b;
  color: white;
}

.request_Open {
  color: ivory;
  background-color: #d9b44a;
}


.footer-right{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.request-row-footer{
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.request-row-footer > em{
  display: flex;
  justify-content: flex-end;
}
.request-row-footer:hover > em:hover{
  display: flex;
  justify-content: flex-end;
}



@keyframes clouds_animation {
	0% { background-position: 0 0; }

	100% { background-position: -2122px 0; }
}

.rectangle{
  display:block;
  height:200px;
  width:350px;
  background:grey;
  position:relative;
  margin-top:100px;
  color: white;
}

.circle{
  position:absolute;
  height:130px;
  width:130px;
  border-radius:50%;
  border:3px solid white;
  left:45%;
  margin-left:-45px;
  margin-top: -80px;
  background:grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-name {
  margin-top: 5px;
  padding-top: 55px;
}
.budget-group {
  display: flex;
  justify-content: space-between;
}
.street-group {
  padding-left: 10px;
  line-height: 30px;
}
.company-name-div {
  width: 100%;
}
.company-name-div{
  width: 100%;
}
.company-name {
  display: inline-block;
  background: #85bdf8;
  line-height: 60px;
  width: 100%;
  color: white;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
}
.footer-btn {
  margin-right: 5px;
  border: 1px solid grey;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 50px;
  background: #ffb400;
  color: #2d4059;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
  border-radius: 5px;
}
.web-url {
  color:white;
}
.request-line-budget {
  position: absolute;
  bottom: 5px;
}
.request-line {
  margin-top: 3px;
}
.spacer {
  height: 25px;
}
.statistic {
  margin-top: 15px;
   
}