// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .status_Open {
   color: yellow;
   background: blue;
 }
 .status_Taken {
   color: white;
   background: green;
 }

 .request-rows {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-gap: 20px;
   grid-row-gap: 1.5rem;
   width: 100%;
}
.request-row {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
  position: relative;
}
.request-row:hover {
  background-color:  #decbe4;
  color:white
}



.request_Taken {
  background: #6c8e5e;
  color: white;
}

.request_Open {
  color: ivory;
  background-color: #5b84c4;
}


.footer-right{
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.request-row-footer{
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.request-row-footer > em{
  display: flex;
  justify-content: flex-end;
}
.request-row-footer:hover > em:hover{
  display: flex;
  justify-content: flex-end;
}



@keyframes clouds_animation {
	0% { background-position: 0 0; }

	100% { background-position: -2122px 0; }
}

.rectangle{
  display:block;
  height:220px;
  width:350px;
  background:grey;
  position:relative;
  margin-top:100px;
  color: white;
}

.circle{
  position:absolute;
  height:100px;
  width:100px;
  border-radius:50px;
  border:3px solid white;
  left:45%;
  margin-left:-25px;
  top: -40px;
  background:grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request-name {
  padding-top: 55px;
}
.budget-group {
  display: flex;
  justify-content: space-between;
}