// Place all the styles related to the service_providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.service-provider-rows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; 
  grid-row-gap: 1.5rem;
  width: 100%; 
}
.service-provider-row {
  background: #decbe4;
  color: white;
  padding: 8px;
  box-shadow: 4px 4px 4px rgb(27, 27, 27);
   
}

.service-provider-row-footer{ 
 
  display: flex;
  justify-content: flex-end;
}
.image-placeholder {
  background-color: #eee;
  display: flex;
  height: 180px;
  margin: 5px;
  width: 98.5%;
}
img {
  width: 220px; height: 120px; 
  display: flex;
  align-self: center;
  padding-top: 10px;
}
.link-footer{
  width: 300px;
  height: 50px;
   display: flex;
   justify-content: flex-end;
}
.contact-group{
  width: 300px;
  height: 150px;
  background-color: #85bdf8;
  color:white;
  padding:10px; 
  box-shadow: 4px 4px 4px rgb(105, 101, 101);
}
.heading-group{
  width: 300px;
  height: 150px;
  background-color: #85bdf8;
  color:white;
  padding:10px; 
  box-shadow: 4px 4px 4px rgb(105, 101, 101); 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.service-provider-profile {
  width: 350px;
  height: 600px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.contact-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


 